$color-gray: #757575;

@mixin img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin border-2px-dark-gray-radius {
  border: 2px solid var(--dark-gray);
  border-radius: 3px;
} 

html {
  font: normal 18px/1.5 Roboto, sans-serif;
  color: var(--dark-gray);
 
  background: var(--black);
}

.find {
  width: 248px;

  border-radius: 12.5px;

  color: #757575;
  background-color: var(--dark);
}

.bg-banner {
  background-image: url("../images/banner.png");
  @include img;
}

.pointer{
  cursor: pointer;
}

.field-font {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16.41px;
}

.form-1::placeholder {
  color: var(--white);
}

.find::placeholder {
  color: $color-gray;
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;

  line-height: 1;
  text-align: center;

  &-access {
    background: var(--green);
  }

  &-access-font {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 13.3px;
    line-height: 15.29px;
  }
}
.w-24px {
  width: 24px;
} 

.h-24px {
  height: 24px;
}

.h-615px {
  height: 615px;
}

/*.pt-25px { padding-top: 25px; }*/

.p-0 {
  padding: 0
}

.p-1rem5 {
  padding: 0 1.5rem;
}

.pt-24px {
  padding-top: 24px;
}

.pt-43px {
  padding-top: 43px;
}

.pt-100px {
  padding-top: 100px;
}

.pt-150px {
  padding-top: 150px;
}

.pb-50px {
  padding-bottom: 50px;
}

.pb-200px {
  padding-bottom: 200px;
}

.pl-10px {
  padding-left: 10px;
}

.m-0 {
  margin: 0;
}



.mt-31px {
  margin-top: 31px;
}



.ml-16px {
  margin-left: 16px;
}

/*.ml-24px { margin-left: 24px; }*/

/*.ml-90px { margin-left: 90px; }*/

/*.ml-119px { margin-left: 119px; }*/

/*.mr-121px { margin-right: 121px; }
*/
.mb-17px {
  margin-bottom: 17px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mh-25px {
  margin: 0 25px;
}

/*.mg-rem75 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}*/

.fs-11px {
  font-size: 11px;
}

.fs-12px8 {
  font-size: 12.8px;
}

.fs-16px {
  font-size: 16px;
}

.fs-24px {
  font-size: 24px; }

.fs-32px {
  font-size: 32px;
}

.fs-64px {
  font-size: 64px;
}

.lh-1 {
  line-height: 1;
}

.lh-1em {
  line-height: 1em;
}

.lh-1e5 {
  line-height: 1.5; }

.lh-12px9 {
  line-height: 12.9px;
}

.lh-15px3 {
  line-height: 15.3px;
}

.text-decoration-none {
  text-decoration: none; }

.text-align-center {
  text-align: center;
}

.transparent {
  background: transparent;
}

.color {
  &-white {
    color: var(--white);
  }

  &-dark-gray {
    color: var(--dark-gray);
  }
}

.max-width-1200px {
  max-width: 1200px;
}

.border-none {
  border: none;
}

.b-radius-1rem {
  border-radius: 1rem;
}

.block {
  display: block;
}

.flex { display: flex; 

  &-column { flex-direction: column; }

  &-grow { flex-grow: 1; }
}

.justify-center {
  justify-content: center;
}

/*.justify-right { justify-content: right; }
*/
.align-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0; 
} 

.bg-black {
  background-color: var(--black);
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  @include img;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  @include img;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  @include img;
}

.pricing-btn {
  margin: 40px 0 64px;

  @include border-2px-dark-gray-radius;
}

.page-pricing-footer {
  margin: 0 auto;
}
