@media (max-width: 1240px) {

h1 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 800;
  text-transform: uppercase;
}

.first {
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  
  &-img {
  margin-bottom: 17px;

  }
  &-find {
  padding-top: 18px;
  height: 25px;
  }
}

.img-note {
  width: 24px;
  height: 24px;
  background-image: url("../images/logo.svg");
  @include img;
}

.form {
width: 100%;

  &-1 {
    width: calc(100% - 26px);
    min-height: 50px;
    margin-bottom: 24px;
    padding-left: 20px;
    @include border-2px-dark-gray-radius;
  }

  &-name {
    margin-right: 0; }
    
  &-email {
    margin-left: 0; }
}

.banner {
  padding: 78px 20px 200px;
}

.string {
  margin-left: 0;
  margin-right: 0;

  &-access {
    margin-top: 16px;
    margin-bottom: 16px;
    }
}

.pricing-item {
  margin-bottom: 50px;
}

.pricing-items {
  flex-direction: column;
}

}
